#faq, #about, #assets {
  margin: 0 auto;
  max-width: 600px;
}

#about {
  line-height: 1em;
}

#about h3 {
  margin: 0;
}

#about div {
  margin-top: 15px;
}

#assets {
  margin-bottom: 40px;
}

#assets p {
  margin: 2px 0px;
}

p {
  font-size: 0.94em;
  line-height: 1.25em;
}

h2 {
  text-align: center;
  font-size: 1.25em;
  margin: 40px 0px;
}

h3 {
  font-weight: 600;
  margin: 30px 0px;
}

ul {
  margin-top: 20px;
}

li {
  font-size: 0.94em;
}

.fineprint {
  font-size: 0.72em;
}

fa-icon, .badge {
  width: 15px;
  height: 15px;
  display: inline;
}

.question {
  font-style: italic;
  margin: 0;
}

.answer-div {
  margin: 20px 0px 40px 30px;
  display: none;
}

.answer-div p {
  text-indent: 25px;
}

#devs-perspective-p {
  margin-top: 15px;
}

#devs-perspective-p, #users-perspective-p {
  text-indent: 0px
}

.expand-icon {
  float: left;
  color: #c1c1c1;
  vertical-align: middle;
  margin-right: 3px;
}

.faq-item, #assets p {
  margin: 5px 0px;
}


@media only screen and (max-width: 1200px) {
  #about {
    max-width: 600px;
  }
}


@media only screen and (max-width: 465px) {
  #about, #faq, #assets {
    max-width: 90vw;
  }

  .answer-div {
    margin-left: 10px;
  }
}

