<!-- Navicon -->
  <!--The Navicon code was implemented/adapted from a W3Schools example,
          https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp -->
<div class="navbar">
    <div class="dropdown">
        <img id="dropbtn" class="dropbtn" src="../../../../assets/img/navicon.png" alt="Menu Button" />
        <i class="fa fa-caret-down"></i>
        <!-- Show this menu if user is logged in -->
        <div *ngIf="isLoggedIn()" class="dropdown-content">
            <ul>
                <a routerLink="/"><li>Search</li></a>
                <a routerLink="/bookmarked-tracks"><li>Bookmarked Tracks</li></a>
                <a routerLink="/viewed-tracks"><li>Viewed Tracks</li></a>
                <a routerLink="/banned-artists"><li>Banned Artists</li></a>
                <a routerLink="/about"><li>About/FAQ</li></a>
                <a (click)="onLogout()"><li>Logout</li></a>
            </ul>
        </div>
        <!-- Show this menu if user is logged out -->
        <div *ngIf="!isLoggedIn()" class="dropdown-content">
            <ul>
                <a routerLink="/"><li>Search</li></a>
                <a routerLink="/login"><li>Login</li></a>
                <a routerLink="/register"><li>Register</li></a>
                <a routerLink="/about"><li>About/FAQ</li></a>
            </ul>
        </div>
    </div>
</div>