.navbar {
  float: right;
  padding-left: 1%;
}

.navbar a {
  float: left;
  text-decoration: none;
  padding: 14px 10px;
}

.navbar a:link,
.navbar a:visited {
  color: black;
}

.dropdown {
  float: right;
  position: relative;
}

.dropdown img {
  width: 40px;
  height: 32px;
}

.dropdown,
.dropbtn {
  margin: 0;
}

.dropdown-content {
  z-index: 1;
  display: none;
  position: absolute;
  right: 17px;
  top: 17px;
  width: 200px;
}

.dropdown-content li {
  color: #e8e6e3;
  text-align: center;
  font-size: 20px;
}

.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Cinzel, sans-serif;
  background-color: #26292b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #16823E;
}

.dropdown-content ul li {
  list-style-type: none;
}

.navbar a {
  cursor: pointer;
}