label {
    float: left;
    clear: left;
    min-width: 100px;
    margin: 2px 0;
}

table tr td {
    margin: 0;
    padding: 0;
}

.submit-btn-td {
    float: right;
}

input[type="text"], input[type="password"] {
  margin: 4px 10px 4px 0px;
  float: left;
  color: #e8e6e3;
  background-color: #2d2d2d;
  border: 1px solid #e8e6e37d;
  border-radius: 5px;
}

li {
  margin-left: 40px;
  margin-bottom: 2px;
  font-size: 0.75em;
  float: left;
  clear: left;
  list-style-type: none;
}

li:first-of-type {
  margin-top: 2px;
}

li:last-of-type {
  margin-bottom: 20px;
}

fa-icon {
  color: #1DB954;
  margin-right: 3px;
  visibility: hidden;
}

fa-icon.is-valid {
  visibility: visible;
}