<footer>
    <hr />
    <div id="footer-content">
      <div id="badges-div">
        <a href="https://angular.dev/" target="_blank"><img id="angular-logo" src="../../../../assets/img/angularlogo.png"></a>
        <a href="https://nodejs.org/en" target="_blank"><img id="node-logo" src="../../../../assets/img/nodelogo.svg"></a>
        <a href="https://www.mongodb.com/" target="blank"><img id="mongo-logo" src="../../../../assets/img/mongologo.png"></a>
      </div>
      <p id="copyright">Copyright &copy; TrackHunter, 2025</p>
      <div id="pwd-by-div">
        <p id="pwd-by-txt">Powered by 
          <a href="http://www.spotify.com" target="_blank">
            <img id="spotify" src="../../../../assets/img/spotify.svg">
          </a>
        </p>
      </div>
    </div>
</footer>
