/* Montserrat - for h2's, buttons */
@font-face {
  font-family: Montserrat;
  src: url(../assets/font/Montserrat/Montserrat-Medium.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Force page content (and footer) to fill the window */ 
app-login, app-register, app-logged-out, app-seed-tracks, app-result-tracks,
app-viewed-tracks, app-bookmarked-tracks, app-banned-artists, app-about {
  flex-grow: 1;
}

html {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  background-color: #181a1b;
  color: #e8e6e3;
  min-width: 340px;
  max-width: 1480px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  max-width: 80vw;
  margin: 0.5% auto 0 auto;
}

p {
  font-size: 0.88em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
}

li {
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  margin: 15px 0;
  font-weight: 600;
}

a, a:visited {
  color: #5daaf8;
  text-decoration: underline;
}

button {
  color:#e8e6e37d;
  background-color: #26292b;
}

hr {
  border-color: #e8e6e37d;
  padding: 0;
  margin: 0;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.val-error {
  color: #fa3939;
  font-size: 0.75em;
}

router-outlet {
  clear: left;
  display: block;
  width: 100%;
}

/* Styles for applying & managing card background image */

.card-containter-div {
  width: 70%;
  margin: 0 auto;
  min-width: 600px;
  margin-top: 5vh;
}

.card {
  border-radius: 12px;
  height: 110px;
  width: 100%;
  margin-bottom: 10px;
  float: left;
  clear: left;
  position: relative;
  margin: 1vh 0;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  pointer-events: auto;
}

.album-cover-div {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
  padding-left: 3%;
}

.album-cover-img {
  padding-right: 10px;
  height: 80px;
  width: 80px;
}

.card-text {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 30%;    /* NECESSARY FOR RES TRACK AUDIO PLAYER BALANCE */
  height: 100%;
  min-width: 270px;
}

.track-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 0.94em;
}

.track-artist {
  margin-top: 6px;
  line-height: 1.2;
  font-size: 0.81em;
}

.track-album {
  font-size: 0.75em;
  line-height: 1.2;
}

.card .content .card-text h3, .card .content .card-text p {
  clear: left;
  float: left;
}

.card-bg {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  float: left;
  pointer-events: none;
}

.card-bg img {
  width: 100%;
  height: 100%;
  opacity: 0.12;
  object-fit: cover;
  filter: blur(3px);
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100%;
  height: auto;
  transform: translateY(-200px);
}

.player-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  width: auto;
  height: 100%;
  position: relative;
  top: 10px;
}

audio {
  width: 325px;   /* Min comfortable setting for all player features */
  min-width: 250px;
  height: 25px;
  opacity: 0.35;
}

.bookmark-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 3px;
}

.login-reg-div {
  display: block;
  border: 1px solid #e8e6e37d;
  padding: 15px;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.login-reg-div table {
  margin: 0 auto;
}

.green-btn {
  font-family: Montserrat;
  font-weight: 900;
  float: left;
  margin: 4px 10px 4px 0px;
  border-radius: 10px;
  color: black;
  background-color: #1DB954;
  border: 1px solid #1DB954;
}

.green-btn:hover {
  background-color: #29E066;
}

.big-btn {
  font-size: 1.12em;
  padding: 7px;
  border-radius: 15px;
}

.view-on-spotify-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 110px;
  margin: auto 0 6px auto;
  height: 100%;
  pointer-events: none;
}

/* <a>'s hitbox is way smaller, prevent the <div> from intercepting clicks */
.view-on-spotify-div a {
  pointer-events: auto;
}

.view-on-spotify-div a:link {
  color: #e8e6e3;
}

.view-on-spotify-div-player {
  min-width: 110px;
  margin-top: 6px;
}

.view-on-spotify-text {
  display: inline;
  font-size: 0.69em;
  float: left;
  color: #e8e6e3;
}

.spotify-logo {
  float: left;
  display: inline;
  height: 18px;
  width: 55px;
  max-height: 18px;
  max-width: 55px;
  margin-left: 6px;
}

/* This ofc centers it, but also prevents it from occupying full screen */
ngx-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Override browser default styles for <input>, esp for saved pw's */
input:-webkit-autofill {
  background-color: transparent !important;
  color: #e8e6e3 !important;
  -webkit-text-fill-color: #e8e6e3 !important;
  box-shadow: 0 0 0px 1000px #2d2d2d inset !important;
  border: 1px solid #e8e6e37d !important;
}

/* Firefox's <audio> element is much darker than Chrome by default */
@supports (-moz-appearance: none) {
  audio {
    opacity: 0.65;
    background: #ffffff;
    color: black;
  }
}

/* Alert bubble styles */

#alert-bubble-underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
  display: block;
}

.alert-bubble {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  border-color: #e8e6e3;
  border: 1px solid gray;
  padding: 20px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 280px;
}

.page-controls {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.alert-bubble-dots {
  display: inline-block;
}

.alert-bubble-dots span {
  height: 8px;
  width: 8px;
  margin: 0 3px;
  background-color: #777;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.alert-bubble-dots span.active {
  background-color: #e8e6e3;
}

.alert-bubble-text {
  font-size: 0.75em;
}

.alert-bubble ul li {
  list-style-type: disc;
  position: relative;
  left: 5px;
  margin: 8px 0px;
  font-size: 0.75em;
}

.alert-bubble-close-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 1.75em;
  cursor: pointer;
}

.ban-icon {
  color: #fa3939;
}

.title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}

#next-results-btn-div {
  display: flex;
  justify-content: center;
  margin: 0 0 0 auto;
  clear: both;
}





@media only screen and (max-width: 1150px) {
  .card-containter-div {
    width: 85%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 920px) {
  .card-containter-div {
    width: 100%;
  }
} 

@media only screen and (max-width: 800px) {
  .card-containter-div {
    width: 85%;
    min-width: 0;
  }

  .card {
    height: 130px;
    margin: 2vh 0;
  }

  .card-text, .album-cover-div {
    height: 80%;
  }

  .track-title {
    font-size: 1em;
  }

  .track-artist {
    font-size: 0.88em;
  }

  .player-div {
    float: left;
    clear: left;
    align-items: normal;
    height: auto;
    flex-direction: row;
    height: 50px;
  }

  .view-on-spotify-div-player {
    display: flex;
    justify-content: right;
  }
}

@media only screen and (max-width: 640px) {
  .card-containter-div {
    width: 85%;
  }

  .audio {
    height: 25px;
  }
} 

@media only screen and (max-width: 560px) {
  .card-containter-div {
    width: 96%;
  }

  .card-text {
    min-width: 250px;
  }

  #pwdBy {
    display: none;
  }
} 

@media only screen and (max-width: 510px) {
  header, footer {
    padding: 0 5px;
  }

  .card {
    height: 110px;
  }

  .card-text {
    min-width: 250px;
  }

  .card-text, .album-cover-div {
    height: 60%;
  }

  .album-cover-img {
    height: 70px;
    width: 70px;
  }

  .player-div {
    flex-direction: column-reverse;
    width: 100%;
  }

  /* <a> is the parent for "View On Spotify [Logo]", wraps it so all areas are clickable
  But then also needs to control alignment since its the parent */
  .player-div a {
    margin: 0 0 0 auto;
  }

  .view-on-spotify-div {
    justify-content: right;
    align-items: unset;
    padding-right: 3%;
  }

  audio {
    width: 100%;
  }
} 

@media only screen and (max-width: 465px) {
  body {
    max-width: 95vw;
  }
}

@media only screen and (max-width: 415px) {
  body {
    max-width: 95vw;
  }
  .track-title {
    font-size: 0.94em;
  }
  .track-artist, .track-album {
    font-size: 0.81em;
  }
} 

@media only screen and (max-width: 400px) {
  .card-text {
    min-width: 230px;
  }
}







@media only screen and (min-height: 900px) {
  .card {
    height: 160px;
  }

  .track-title {
    font-size: 1.12em;
  }

  .track-artist {
    font-size: 0.94em;
  }
}

@media only screen and (max-height: 700px) {
  .card-containter-div {
    margin-top: 0;
  }
}