.alert-bubble .bubble-content img {
  margin-top: 10px;
}

#no-more-results-div {
  font-size: 1em;
}

a {
  cursor: pointer;
}

#export-tracks-img {
  width: 100%;
}

.green-btn {
  display: block;
  float: none;
  margin: 15px auto 0px auto;
  padding: 3px 17px;
}

#reset-viewed-btn {
  margin: 0;
}

#next-results-btn-div a:link, #next-results-btn-div a:visited {
  text-decoration: none;
}

#next-btn {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  #next-btn {
      margin-bottom: 10px;
    }
  }